@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h3, h2 {
  font-family: 'Teko', sans-serif;
  font-size: xx-large
}

h3, h2 {
  font-size: 2rem;
}

img {
  border: 1px solid white;
}

span {
  font-weight: bold;
}

.pizza-section_block {
  margin: 30px;
  background-color: beige;
}

input {
  background-color: gainsboro
}